* {
    font-family: 'SF Pro','Inter',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;;
  }
  
  h2 {
    text-align: start;
    margin-top: 25px;
  }
  
  p {
    text-align: justify;
    font-size: 14px;
    color: #CBD5E0;
  }
  
  .a {
    text-decoration: none;
    font-size: 15px;
    color: white;
  }
  .a:hover {
    text-decoration: underline;
    font-size: 15px;
    color: #CBD5E0;
  }
  
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .logo {
    width: 100px;
    height: auto;
    margin-right: 25px;
  }
  
  .name {
    text-align: start;
    font-size: xx-large;
  }
  
  .SubTitle {
    text-align: start;
    font-size:14px;
    color: #CBD5E0;
  }
  
  .font {
    font-size: 15px;
    font-weight: bold;
  }
  
  .about {
    text-align: justify;
    height: 300px;
    width: 375px;
    border: 1px solid black;
    margin: auto;
    margin-top: 25px;
  }
  
  .project {
    display: grid;
    grid-template-columns: 100px 275px;
    border: white;
    justify-content: center;
    margin-top: 25px;
  }
  
  .work {
    display: grid;
    grid-template-columns: 100px 275px;
    border: white;
    justify-content: center;
    margin-top: 25px;
  }
  
  .item1 {
    grid-column: 1 / span 3;
    grid-row: 1;
  }
  
  .Contact {
    display: flex;
    justify-content: center;
    font-size: 1rem;
  }
  